@font-face {
    font-family: "Titles";
    src: url(./fonts/Bungee_Shade/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: "paragraph_font";
    src: url(./fonts/static/Montserrat-Regular.ttf);
}

:root {
    --titles: "titles";
    --font_family: "paragraph_font";
    --default_border_radius: 10px;
    --album_width: 500px;

    --paragraph_color: #181818;
    --background_color: #ececec;
    --background_color_pop: #ffffff;
    --shadow_for_menu:#484848;
    --hover_for_menu:#cbcbcb;
    --white_for_menu: #fff;
    --always_black: #000;
    --always_white: #fff;
    --logout_button_color:#3e3e3e;
    --text_area_color:#e9e9ed;
    --add_friends_container_color:#fff;
}

:root:has(body .dark_mode) {
    --background_color: #181818;
    --paragraph_color: #ececec;
    --background_color_pop: #252525;
    --hover_for_menu:#585858;

    --shadow_for_menu: #bbbbbb;
    --white_for_menu: #e9e9e9;
    --add_friends_container_color: #585858;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    max-height: 100vh;
    background-color: var(--background_color);
    transition: 300ms background-color ease-in-out;
}

p, a, div {
    font-family: var(--font_family);
}

/* CSS Classes that are commonly used */

.display_none {
    display: none;
}