/* Modal Common CSS */
.modal_container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; 
    justify-content: center;
    align-items: center;
}

.modal_content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: var(--default_border_radius);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
    overflow: auto; 
    box-shadow: 0px 0px 5px rgb(162, 162, 162);
}

/* Login and signup CSS */

.form_container.login_container {
    text-align: center;
    font-family: var(--font_family);
    box-shadow: 0px 0px 10px rgb(146, 146, 146);
    border-radius: var(--default_border_radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: white;
    z-index: 99;
}

.form_container.signup_container {
    text-align: center;
    font-family: Arial, var(--font_family);
    box-shadow: 0px 0px 10px rgb(146, 146, 146);
    border-radius: var(--default_border_radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: white;
    z-index: 99;
}

.form_container #form_title {
    font-size: 32px;
    font-weight: bold;
    color: #efc364;
    text-shadow: 0px 0px 1px #937432;
    text-align: center;
    font-family: var(--font_family);
    margin: 10px 0 30px 0;
}

.form_container #form_text {
    font-style: italic;
    margin-top: -16px;
    text-align: center;
    font-family: var(--font_family);
}

.form_container input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: var(--default_border_radius);
    box-sizing: border-box;
}

.form_container button {
    width: 100%;
    height: 40px;
    background-color: #24a0ed;
    color: white;
    border: none;
    border-radius: var(--default_border_radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.form_container button:first-of-type {
    margin-bottom: 10px;
}

.form_container button:hover {
    background-color: #1d5272;
}

#switch_to_signup,
#switch_to_login {
    background-color: transparent;
    color: black;
    text-decoration: underline;
    font-size: 14px;
}

/* Header CSS */
header {
    display: grid;
    grid-template-columns: 60px 80px 1fr;
    padding: 10px;
    box-sizing: border-box;
}

header .home_button {
    font-family: var(--font_family);
    font-size: 24px;
    align-self: center;
    color: black;
    text-decoration: none;
}

header .buttons_container {
    display: flex;
    gap: 16px;
    justify-self: end;
    align-self: center;
    font-family: var(--font_family);
    font-size: 18px;
    cursor: pointer;
}

header .buttons_container .login_button:hover,
header .buttons_container .signup_button:hover {
    text-decoration: underline;
}

.menu {
    display: flex;
    align-items: center;
}

.menu_icon_container {
    display: inline-block;
    cursor: pointer;
    position: relative; 
}

.bar1, .bar2, .bar3 {
    width: 24px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {transform: translate(0, 9px) rotate(-45deg);}

.change .bar2 {opacity: 0;}

.change .bar3 {transform: translate(0,-9px) rotate(45deg);}

/* dropdown CSS */
.dropdown {
    position: absolute;
    top: 50px;
    left: -20%; 
    background-color: rgb(240, 240, 240);
    display: block; 
    z-index: 999;
    padding: 20px;
    transition: left 0.3s ease; 
    box-sizing: border-box;
    border-radius: 0 10px 10px 0;
    box-shadow: 0px 0px 5px rgb(88, 88, 88);
    /* Height should take 100% of what is left*/
  }
  
  .dropdown.active {
    left: 0;
  }

.dropdown_friends {
    display: grid;
    grid-template-columns: 245px;
    grid-auto-rows: 40px;
    gap: 5px;

    margin-bottom: 30px;
}

.friend_image {
    background-image: url(../css/profile.png);
    background-position: center;
    background-size: contain;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.friend_username {
    font-family: var(--font_family);
    font-size: 16px;
}

.room_title_one,
.room_title_two {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px 0;
}

.create_private_room_button,
.add_friend_button {
    font-size: 20px;
    background-color: rgb(255, 255, 255);

    width: 24px;
    height: 24px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font_family);

    cursor: pointer;
    border: .5px solid black;
}

.dropdown_rooms {
    display: grid;
    grid-template-columns: 120px 120px;
    grid-auto-rows: 40px;
    gap: 5px;
    margin-bottom: 20px;
}

.dropdown.active {
    display: block;
}

.dropdown_title {
    font-size: 24px;
    font-family: var(--font_family);
}

.dropdown_title_two {
    font-family: var(--font_family);
    font-size: 14px;
    margin: 5px 0;
    font-style: italic;
}

.dropdown_box_friends {
    width: 100%;
    height: 100%;
    border-radius: var(--default_border_radius);
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
    padding: 0 5px;

    display: flex;
    align-items: center;
    gap: 5px;

    box-sizing: border-box;
    cursor: pointer;
}

.dropdown_box_rooms {
    width: 100%;
    height: 100%;
    border-radius: var(--default_border_radius);
    background-color: rgb(255, 255, 255);
    margin: 5px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.2s;
}

.dropdown_box_rooms:hover,
.dropdown_box_friends:hover,
.create_room_button:hover,
.add_friend_button:hover {
    background-color: rgb(203, 203, 203);
}

.dropdown_box_rooms p {
    color: rgb(47, 47, 47);
    font-family: var(--font_family);
    font-size: 16px;
}

/* Show Friend Profile CSS */

.upper_section,
.middle_section,
.post_container .upper {
    display: flex;
    justify-content: space-between;
}

.profile_info {
    display: flex;
    flex-direction: column;
}

.profile_picture {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    border: 1px solid black;

    background-image: url(../css/profile.png);
    background-size: cover;
}

.profile_info .username {
    font-size: 24px;
    font-family: var(--font_family);
    margin-bottom: 0;
}

.profile_info .status {
    font-size: 22px;
    font-family: var(--font_family);
    color: rgb(56, 56, 56);
}

.middle_section_left, 
.middle_section_right {
    font-size: 18px;
    font-family: var(--font_family);
}

.bottom_section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.post_container {
    background-color: rgb(190, 190, 190);
    padding: 10px;
    border-radius: var(--default_border_radius);
}

.post_container_genre,
.post_container_timestamp {
    font-family: var(--font_family);
    font-size: 12px;
}
